@use 'reset';
@use 'variables';

body {
  font-family: Cabin, 'Segoe UI Variable', 'Segoe UI', -apple-system, BlinkMacSystemFont,
    'ui-sans-serif', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover{
    color: #ffc267;
  }
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  display: none;
}
