$colors: #4378d4, #c2c2d4, #000000, #ffca4e, #a3d1f9;
$max: length($colors);
$dash: 70;
$dash-gap: 10;
$dash-space: $dash * ($max - 1) + $dash-gap * $max;
$time: 6s;
$time-step: calc($time / $max);

.header {
  position: fixed;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: var(--header-height);
  background-color: #ffffff;
  display: flex;
  padding: 0 100px;
  box-shadow: 0px 0px 10px 2px rgba(86, 85, 85, 0.29);
}

.headerLogo {
  width: 50%;
  height: var(--header-height);
  text-align: center;
  background-size: 0.2em 100%;
  font: 5em/1 'Poppins', Impact;
  text-transform: uppercase;
  display: flex;
  justify-content: center;

  svg {
    width: 100%;
    height: 100%;
  }

  use {
    fill: none;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-dasharray: $dash $dash-space;
    stroke-dashoffset: 0;
    -webkit-animation: stroke $time infinite linear;
    animation: stroke $time infinite linear;

    @for $item from 1 through $max {
      &:nth-child(#{$max}n + #{$item}) {
        $color: nth($colors, $item);
        stroke: $color;
        -webkit-animation-delay: -($time-step * $item);
        animation-delay: -($time-step * $item);
      }
    }
  }
}

.headerNavLinks {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  height: 100%;
  align-items: center;
}

.headerNavSearch {
  font-size: 1.3rem;
  color: rgb(0, 0, 0);
}

.navLink {
  & a {
    font-size: 0.9rem;
    font-weight: 550;
    color: rgb(44, 42, 42);
  }
  & a.active {
    color: #7692c3;
    border-bottom: 2px solid var(--color-main);
  }
  &:hover a {
    color: #7692c3;
  }
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -($dash + $dash-gap) * $max;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: -($dash + $dash-gap) * $max;
  }
}
