@import './Styles/Variable.css';
.body-page {
  margin-top: var(--header-height);
}
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
*::-webkit-scrollbar {
  display: none;
}
